In [ ]:
#In order to begin this assignment I will import the csv file to this notebook, and import the necessary tools I may need to use:
    #such as numpy, numpy_financial and pandas

In [ ]:
path = "/Users/katharinezenta/Downloads/budget_data.csv"

In [30]:
import numpy as np
import numpy_financial as npf
import pandas as pd
from pathlib import Path
import csv

In [32]:
#Since this is only a read me version I will define this with df
csvpath = Path ("/Users/katharinezenta/Downloads/budget_data.csv")
df = pd.read_csv(path)

df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [ ]:
#now that I have the data I will begin extracting information

In [ ]:
#First I will find the total number of months in the dataset by identifying the length of the column 'Date'

In [33]:
total_months = (len(df['Date']))
total_months

86

In [ ]:
#Next I will determine the total amount of Profit/Losses over the entire period

In [34]:
total = df['Profit/Losses'].sum()
print (total)

38382578

In [35]:
df['Shift_pnl_values'] = df['Profit/Losses'].shift(1)

In [36]:
df['price_change']= df['Profit/Losses'] - df['Shift_pnl_values']
df

        Date  Profit/Losses  Shift_pnl_values  price_change
0   Jan-2010         867884               NaN           NaN
1   Feb-2010         984655          867884.0      116771.0
2   Mar-2010         322013          984655.0     -662642.0
3   Apr-2010         -69417          322013.0     -391430.0
4   May-2010         310503          -69417.0      379920.0
..       ...            ...               ...           ...
81  Oct-2016         102685          768450.0     -665765.0
82  Nov-2016         795914          102685.0      693229.0
83  Dec-2016          60988          795914.0     -734926.0
84  Jan-2017         138230           60988.0       77242.0
85  Feb-2017         671099          138230.0      532869.0

[86 rows x 4 columns]

In [37]:
#I will determine the average changes in Profit/Losses over the entire period

In [38]:
average = df['price_change'].mean()
print(average)

-2315.1176470588234

In [39]:
#The following will find the row of the greatest increase in the time period

In [51]:
greatest_increase = df['Profit/Losses'].max()
print (greatest_increase)

1170593

In [42]:
#Next I will find the row of the greatest decrease in the time period

In [52]:
greatest_decrease = df['Profit/Losses'].min()
print(greatest_decrease)

-1196225

In [44]:
#Finally I will print the answers in order to display them below

In [54]:
print(f"Financial Analysis")

print(f"The total number of months is {total_months}.")
print(f"The total amount of profit over the entire period of time is ${total}.")
print(f"The average change in the profits and losses over the entire period is ${np.round(average,2)}.")
print(f"The greatest increase over the entire period is ${greatest_increase}")
print(f"The greatest decrease over the entire period is ${greatest_decrease}")

Financial Analysis
The total number of months is 86.
The total amount of profit over the entire period of time is $38382578.
The average change in the profits and losses over the entire period is $-2315.12.
The greatest increase over the entire period is $1170593
The greatest decrease over the entire period is $-1196225

In [ ]:
#I was unable to find a way to print the date and number for the greatest increase and decrease