In [49]:
#In order to begin this assignment I will import the csv file to this notebook, and import the necessary tools I may need to use:
    #such as numpy, numpy_financial and pandas

In [2]:
path = "/Users/katharinezenta/Downloads/budget_data.csv"

In [4]:
import numpy as np

In [5]:
import numpy_financial as npf

In [7]:
import pandas as pd

In [14]:
pd.read_csv(path)
#Since this is only a read me version I will define this with df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [11]:
from pathlib import Path

In [12]:
import csv

In [13]:
csvpath = Path ("/Users/katharinezenta/Downloads/budget_data.csv")

In [15]:
df = pd.read_csv(path)
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [50]:
#now that I have the data I will begin extracting information

In [27]:
#First I will find the total number of months in the dataset by identifying the length of the column 'Date'

In [29]:
total_months = (len(df['Date']))

In [30]:
total_months

86

In [28]:
#Next I will determine the total amount of Profit/Losses over the entire period

In [37]:
total = df['Profit/Losses'].sum()
print (total)

38382578

In [31]:
#I will determine the average changes in Profit/Losses over the entire period

In [40]:
average_change = df['Profit/Losses'].mean()
print(average_change)

446309.0465116279

In [47]:
#The following will find the row of the greatest increase in the time period

In [72]:
greatest_increase = df[df['Profit/Losses']==df['Profit/Losses'].max()]
print (greatest_increase)

        Date  Profit/Losses
25  Feb-2012        1170593

In [91]:
greatest_increase = df[df['Profit/Losses']==df['Profit/Losses'].max()]
print (greatest_increase)

        Date  Profit/Losses
25  Feb-2012        1170593

In [44]:
#Next I will find the row of the greatest decrease in the time period

In [45]:
greatest_decrease = df[df['Profit/Losses']==df['Profit/Losses'].min()]
print(greatest_decrease)

        Date  Profit/Losses
44  Sep-2013       -1196225

In [51]:
#Finally I will print the answers in order to display them below

In [97]:
print(f"Financial Analysis")

print(f"The total number of months is {total_months}.")
print(f"The total amount of profit over the entire period of time is ${total}.")
print(f"The average change in the profits and losses over the entire period is ${np.round(average_change,2)}.")
print(f"The greatest increase over the entire period is {greatest_increase}")
print(f"The greatest decrease ove =r the entire period is {greatest_decrease}")

Financial Analysis
The total number of months is 86.
The total amount of profit over the entire period of time is $38382578.
The average change in the profits and losses over the entire period is $446309.05.
The greatest increase over the entire period is         Date  Profit/Losses
25  Feb-2012        1170593
The greatest decrease ove =r the entire period is         Date  Profit/Losses
44  Sep-2013       -1196225

In [ ]:
#I was unable to find a way to print the date and number for the greatest increase and decrease